html {
        box-sizing: border-box;
        font-size: 16px;
      }
      
      *, *:before, *:after {
        box-sizing: border-box;
      }
      
      body, h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }
      
      ol, ul {
        list-style: none;
      }
      
      img {
        max-width: 100%;
        height: auto;
      }



body {
        font-family: 'Manrope', sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: column;
        height:938px;
}

a {
  text-decoration: none;
}



/* ШАПКА САЙТА *//* ШАПКА САЙТА *//* ШАПКА САЙТА *//* ШАПКА САЙТА *//* ШАПКА САЙТА *//* ШАПКА САЙТА *//* ШАПКА САЙТА */

.header {
  height: 73px;
  border-bottom: 1px solid #E5E9F2;
  padding: 0;
}

.container {
  display: flex;
  background-color: green;
  width: 1110px;
  margin: 0 auto;
  justify-content: center;
}

.container-header {
  display: flex;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top:22px;
  justify-content: space-between;
}

.logo {
  margin-right: 32px;
}

.nav {
  flex:none;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 2px 0;
  margin-left: -177px;
}

.a {
  color: #18191F;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px; 
  line-height: 20px;
}

li {
  display: inline-block;
  height: 15px;
  margin-right:32px;
}

.last {
  width: 67px;
  width:20px;
}

.row {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 282px;
height: 40px;
right: 165px;
top: calc(50% - 40px/2 + 0px);
}

.appstore {
  margin-top: -5px;
}

.playmarket {
  margin-top: -5px;
  margin-right: 12px;
}
/* КОНЕЦ ШАПКИ *//* КОНЕЦ ШАПКИ *//* КОНЕЦ ШАПКИ *//* КОНЕЦ ШАПКИ *//* КОНЕЦ ШАПКИ *//* КОНЕЦ ШАПКИ *//* КОНЕЦ ШАПКИ */



/* НАЧАЛО МЕЙНА *//* НАЧАЛО МЕЙНА *//* НАЧАЛО МЕЙНА *//* НАЧАЛО МЕЙНА *//* НАЧАЛО МЕЙНА *//* НАЧАЛО МЕЙНА */

.main {

}

.main-container {
  display: flex;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 540px;
  max-height: 370px;
  margin-right: 38px;
}

.text-content {

}

.h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom:16px;
  padding-top: 26px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom:32px;
}

.button {
  border: none;
  padding: 0;
  width:284px;
  margin-bottom: 203px;
}

.mock-creative {
  position: absolute;
  left: 1037px;
  top: 269px;
  padding-top: 40px;
  background-color: lightblue;
  width: 524px;
  height: 400px;
}

.img {
  position: absolute;
  left: 1037px;
  top: 315px;
  height: 470px;
  padding: 0;
}


/* КОНЕЦ МЕЙНА КОНЕЦ МЕЙНА КОНЕЦ МЕЙНА КОНЕЦ МЕЙНА КОНЕЦ МЕЙНА КОНЕЦ МЕЙНА КОНЕЦ МЕЙНА КОНЕЦ МЕЙНА  */



/*НАЧАЛО ПОДВАЛА НАЧАЛО ПОДВАЛА НАЧАЛО ПОДВАЛА НАЧАЛО ПОДВАЛА НАЧАЛО ПОДВАЛА НАЧАЛО ПОДВАЛА НАЧАЛО ПОДВАЛА*/

.footer {
  height: 72px;
  background-color: #18191F;
}

.footer-container {
  display: flex;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.autor {
  margin-top: 24px;
  color:white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.social-links {
  margin-top: 19px;
}

.social-links ul {

}

.li-footer {
  margin-right: 0;
  margin-left: 16px;
}

.social-link-img {
  width: 32px;
}

/* КОНЕЦ ПОДВАЛА КОНЕЦ ПОДВАЛА КОНЕЦ ПОДВАЛА КОНЕЦ ПОДВАЛА КОНЕЦ ПОДВАЛА КОНЕЦ ПОДВАЛА КОНЕЦ ПОДВАЛА  */